# Python
venv/
venv311/
__pycache__/
*.pyc

# Upload/output folders
backend/uploads/
backend/outputs/



# Node
frontend/node_modules/
frontend/.next/

# Environment files
.env
.env.local

# Mac
.DS_Store